# API Endpoints
VITE_HEALTH_ANALYSIS_URL=https://healthanalysis-pfndekuqha-as.a.run.app
VITE_GRAPH_ANALYSIS_URL=https://graphanalysis-pfndekuqha-as.a.run.app
VITE_CHRONIC_ANALYSIS_URL=https://chronicanalysis-pfndekuqha-as.a.run.app
